<!-- Describe task in general -->

<p>Бывают ситуации, когда среди огромного количества файлов на вашем компьютере или в отдельной папке вам необходимо найти файлы определенного типа - например, изображения с расширением '.jpg' или документы с расширением '.txt' или файлы, в названии которых есть слово 'butterfly'. Делая это вручную можно потратить слишком много времени. Именно для облегчения подобных задач служит матчинг или паттерны для поиска файлов по определенной маске.<br>
Эта миссия поможет вам разобраться с тем, как это работает.</p>

<p>
    Ваша задача - определить, соответствует ли заданное имя файла заданному поисковому паттерну.
</p>

<p> Вот небольшая таблица, которая показывает, какие символы могут использовать в паттернах.</p>

<style>
    table, td, th {border: 1px solid black;}
</style>

<table>
    <tr>
        <th>[паттерн]</th>
        <td>соответствует любому символу в квадратных скобках, например [123] означает - любой символ из набора "123"</td>
    </tr>
    <tr>
        <th>[!паттерн]</th>
        <td>соответствует любому символу, кроме тех, что находятся в квадратных скобках, например [!123] означает - любой символ кроме "1", "2" и "3"</td>
    </tr>
    <tr>
        <th>[]</th>
        <td>множество без символов ничему не будет соответствовать</td>
    </tr>
</table>

<p>Обратите внимание, что выражение в одной паре квадратных скобок отвечает только
за 1 символ. То есть,
{% if is_js %}
<pre class="brush: javascript">
unixMatch('0123', '[!abc]123') == true;
// но
unixMatch('00123', '[!abc]123') == false;
</pre>
{% else %}
<pre class="brush: python">
unix_match('0123', '[!abc]123') == True
# но
unix_match('00123', '[!abc]123') == False
{% endif %}</p>

<!-- Explain input and output values -->
<p>
    <strong>Входные данные:</strong> Два аргумента. Оба - строки.
</p>

<p>
    <strong>Выходные данные:</strong> Логическое значение.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Как это используется:</strong>
    <i>Для облегчения поиска нужных файлов.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Предусловия:</strong>
    <i>0 < len(strings) < 100</i>
</p>
